<!DOCTYPE html> 
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup</title>
<link rel="stylesheet" href="/public/signup.css">
</head>

<body>

<div class="container">
    <h2>Welcome to W-SAFE</h2>
    <p class="paragraph">Create your account and stay protected with smart safety tools</p>

    <form id="signupForm">
        <label>Full Name</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" required>

        <!-- OTP -->
        <label id="otpLabel" style="display:none;">Enter OTP</label>
        <input type="text" id="otpInput" name="otp" style="display:none;">

        <!-- Buttons -->
        <div class="btn-group">
            <button type="button" id="otpBtn" onclick="sendOTP()">Send OTP</button>
            <button type="submit" id="signupBtn" style="display:none;">Create Account</button>
        </div>

        <p class="bottom-text">
            Already have an account?
            <a href="/login">Login</a>
        </p>
    </form>
</div>

<script src="/public/signup.js"></script>

</body>
</html>